.phone-Row, .mail-Row{
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 6%;
}

.phone-Row > i, .phone-Row > a, .mail-Row > i, .mail-Row > a{
  display: block;
  flex-direction: column;
  margin-bottom: 3%;
}

.phone-Row > a, .mail-Row > a{
  padding: 2% 2%;
  margin:2% 0;
  background-color: rgba(62, 87, 145,0.7);
  text-decoration: none;
  color: black;
  border-radius: 1em;
}
.phone-Row > a:hover, .mail-Row > a:hover, .phone-Row > a:active, .mail-Row > a:active{
  background-color: rgba(62, 87, 145,0.5);
  transition: 0.5s;
  font-style: italic;
}
span{
  text-decoration: none;
  display: contents;
}
#typed{
  display: flex;
}
.content-row{
  display: contents;
}
.fa-linkedin:hover, .fa-linkedin:active{
  opacity: 0.7;
}
.fa-linkedin{
  opacity: 1;
}
@media screen and (max-width:920px){
  .phone-Row > a, .mail-Row > a{
    min-width: 60%;
  }
}
