.phone-Row, .mail-Row{
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 6%;
}

.phone-Row > i, .phone-Row > a, .mail-Row > i, .mail-Row > a{
  display: block;
  flex-direction: column;
  margin-bottom: 3%;
}

.phone-Row > a, .mail-Row > a{
  padding: 2% 2%;
  margin:2% 0;
  background-color: rgba(62, 87, 145,0.7);
  text-decoration: none;
  color: black;
  border-radius: 1em;
}
.phone-Row > a:hover, .mail-Row > a:hover, .phone-Row > a:active, .mail-Row > a:active{
  background-color: rgba(62, 87, 145,0.5);
  transition: 0.5s;
  font-style: italic;
}

@media screen and (max-width:920px){
  .map-responsive{
    display: none;
  }
  .main-content-row{
    min-width: 100%;
  }
  .phone-Row > a, .mail-Row > a{
    min-width: 60%;
  }
  .pouce img{
    border-radius: 2em;
    border: 1px solid rgba(62, 87, 145,0.7);
  }
}
@media screen and (min-width:920.1px) {
  .map-responsive{
    position: relative;
    overflow:hidden;
    padding-bottom:56.25%;
    height:0;
  }
  .map-responsive iframe{
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    position: absolute;
    border:1px solid rgba(62, 87, 145,0.7);
  }
  .content-row{
    display: contents;
  }
  .pouce{
    display: none;
  }
}
